

body{ font: 62.5% "Arial", sans-serif; margin: 50px;}

p{font: 1.2em "Arial", sans-serif;}

#wrap{
	width:900px;	
	margin:20px auto;	
}

code{
	border-style:solid;
	border-width:1px;
	border-color:#ddd;
	padding:0;
	font: 1.3em "Play", sans-serif;
}
.example{
	width:900px;
	padding:15px;
	border-style:solid;
	border-width:1px;
	border-color:#ddd;
	margin-bottom:5px;
}
canvas{
	width:900px;
	height:75px;
	background:#eee;	
	margin-bottom:3px;
}

