body {
  background-color: #eee;
}
h1,
h2 {
  margin-bottom: 5px;
}
a:hover {
  text-decoration: none;
}
hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
button {
  float: right;
  margin-top: 6px;
}
#content {
  width: 900px;
  margin: 80px auto 30px auto;
}
#header {
  text-align: center;
}
p {
  padding-left: 8px;
}
.clearfix {
  clear: both;
}
pre {
  padding: 0;
}
pre code {
  background: #fff;
}
.next-page {
  text-align: center;
}
#home-canvas {
  margin-left: 10px;
}
#home-canvas-code {
  width: 300px;
  float: left;
}
canvas {
  background: #fff;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#js3-demo {
  height: 280px;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  padding: 10px;
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
button i {
  padding-right: 5px;
}
#datgui {
  position: absolute;
  top: 40px;
  right: 0;
  background: #333;
}
#footer {
  margin-bottom: 40px;
  text-align: center;
}
